/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --bg-dark: #202020;
  --bg-light: #ffffff;
  --bg-blue: #4d1d59;
  --text-dark: #202020;
  --text-light: #ffffff;
}

/* base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

/* global sections */
section {
  padding: 5rem 1.5rem;
}

/* hero container */
.hero {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-blue);
  min-height: 100vh;
}

.hero p{
  margin-top: 20px;
  font-size: 3.5rem;
  text-align: center;
  color: var(--text-light);
}

/* footer */
footer {
  padding: 2rem 1.5rem;
  text-align: center;
  font-size: 3.5rem;
  background-color: var(--bg-dark);
  color: var(--text-light);
}
